@media screen and (max-width: 1260px) {
    .nav {
        grid-template-columns: 1fr auto 0px 370px 0px auto 90px auto 1fr;
    }
}

@media screen and (max-width: 960px) {
    .nav {
        grid-template-columns: 50px auto 1fr 255px 1fr auto 0px auto 50px;
    }

    .nav-link {
        display: none;
    }
}