@media screen and (max-width: 1000px) {
    .nav {
        grid-template-columns: 1fr auto 0px 110px 0px auto 90px auto 1fr;
    }
}

@media screen and (max-width: 800px) {
    .nav {
        grid-template-columns: 100px auto 1fr 155px 1fr auto 0px auto 100px;
    }

    .nav-link {
        display: none;
    }
}